[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-image-optimizer = "*"
django-cors-headers = "*"
drf-yasg = "*"
psycopg2 = "*"
pillow = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.11"
